@import url("https://fonts.googleapis.com/css2?family=Galada&family=Montserrat:wght@100..900&display=swap");
/*=============== GOOGLE FONTS ===============*/


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: galada;
}
body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  font-family: "Arial", sans-serif;
  cursor: default;
}

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(to bottom, #020024, #120038, #2a004f);
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 5;
  opacity: 0.1;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

#ui-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}

/* V5 Glass Panel */
.glass-panel {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 20px 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

#intro-text {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff;
}
#joy-wrapper {
  position: absolute;
  top: calc(50% - 100px);
  left:calc(50% - 600px) ;
  transform: translate(-50%, -50%);
  font-size: 30px;
}
#joy-text {
  font-size: 5rem;
  color: #ffd700;
  text-shadow: 0 0 20px #ff0000;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.9) 0%,
    transparent 60%
  );
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 50;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
}
