/* Mobile phones */
@media (max-width: 480px) {
  .memory-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 cols instead of 4 */
    gap: 5px;
  }
  .card {
    height: 80px; /* smaller cards */
  }
  h2 {
    font-size: 1.5rem;
  }
}

/* Small tablets */
@media (max-width: 768px) {
}
