/* Mobile phones */
@media (max-width: 480px) {
  .puzzle-area {
    flex-direction: column;
    align-items: center;
  }
  .puzzle-board {
    width: 300px;
    height: 300px;
  }
  .pieces-container {
    width: 300px;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .piece {
    width: 60px;
    height: 60px;
  }
}
