/* Mobile phones */
@media (max-width: 480px) {
  .track-wrapper {
    width: 95%;
  }
  .track {
    height: 40px;
  }
  #catch-btn {
    width: 80%;
    padding: 15px;
    font-size: 1.2rem;
  }
}
